{% comment %}
	Start the desktop & desktop-xl nav
	▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
{% endcomment %}
<nav id="nav_desktop_click-enabled" class="globalNav">
	{% comment %}
		Start individual sub menus (menu 0 [main] houses Home and Linux)
		▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
	{% endcomment %}
	<ul data-nav-d="0">
		{% assign currNav = 3} %}
		{% for item in site.collections %}
			{% if item.label != 'posts' and item.label != 'http-status-codes' %}
				{% assign currNav = {{forloop.index | plus:2 | strip }} %}
				<li><button class="desktopNavMainBtn btn mainNavBtn mainNavBtn--mainBtn" data-sub="{{ item.label }}" tabindex="{{ currNav }}" aria-haspopup="true" aria-expanded="false">{{item.label}}</button></li>
			{% endif %}
		{% endfor %}

		<li><a class="desktopNavMainBtn btn mainNavBtn mainNavBtn--mainBtn" href="/" tabindex="{{ currNav | plus: 1 }}" title="Visit our home page for the latest articles, how-tos, snippets, and content.">home</a></li>
	</ul>

	<section data-nav-d-menu="linux">
		<header><h3>linux</h3></header>
		{% comment %}
			Build Linux Sub Menus (start at 10 and end at 11)
			▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒▒
		{% endcomment %}




		{{ "••••••••••••••••••••••••• BEGIN: testingWhere1 ••••••••••••••••••••••••••••••" }}
		{% assign testingWhere1 = site.collections.linux | where: "nav_actual" ,  10 %}
		{% for l in testingWhere1 %}
			{{ l.url }}
			{{ l.title }}
			{{ l.headline }}
			{{ l.subheadline }}
			{{ l.meta.title }}
			{{ l.sitemap.lastmod }}
			{{ l.nav_label }}
			{{ l.nav_actual }}
			{{ l.nav_sub }}
		{% endfor %}
		{{ "••••••••••••••••••••••••• BEGIN: testingWhere1 ••••••••••••••••••••••••••••••" }}

		<br>
		<br>
		<br>
		<br>
		<br>
		<br>


		{{ "••••••••••••••••••••••••• BEGIN: testingWhere2 ••••••••••••••••••••••••••••••" }}
		{% for i in (10..11) %}
			{% comment %}
				NOTE: testingWhere2 below produced output correctly in 3.7.x works just fine.
			{% endcomment %}
			{% assign testingWhere2 = site.linux | where: "nav_actual", {{ i }} %}
			{{ "Value of i = " }}{{ i }}

			<div class="column">
				{% if i == 11 %}
					<h6>Articles:</h6>
				{% endif %}
				<ul data-nav-d="{{i}}">
					{% for item in testingWhere2 %}
						{% if item.nav_actual == {{i}} %}
							<li>
								<a class="desktopNavBtn" href="{{ item.url | append:' ' | replace:'/ ','' }}"><span>{{item.nav_label}}</span><span>{{item.subheadline}}</span></a>
							</li>
						{% endif %}
					{% endfor %}
				</ul>
			</div>
		{% endfor %}
		{{ "••••••••••••••••••••••••• END: testingWhere2 ••••••••••••••••••••••••••••••" }}
	</section>
</nav>