---
<!--layout: compress-->
---
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include head01.liquid %}
		<link rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		{% include navigation/navGlobal.liquid %}
		<main id="landing" class="globalMainContent">

			<section>
				<h2>Top-requested articles, how-tos & snippets</h2>
				<section data-collection="linux">
					<h3>Linux</h3>
					<ul>
						{% for item in site.linux %}
						{% if item.url != '/linux/' and item.url != '/linux/articles/' and item.url != '/linux/how-to/' and item.url != '/linux/snippets/' %}
						<li><a class="btn" href="{{ item.url | append:' ' | replace:'/ ','' }}">{{item.nav_actual}}{{item.headline}}</a></li>
						{% endif %}
						{% endfor %}
					</ul>
				</section>

			</section>

		</main>
		{% include footer01.liquid %}
	</body>
</html>